<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Style/services.css' %}">
</head>
<body>
    <section>
        <div class="d-flex flex-column align-items-center">
            <div class="elli">
              <img src="{% static 'images/About/Group 3.jpg' %}" class="img-fluid" alt="Man" />
            </div>
            <p class="everyone">Everyone Asked</p>
            <h3 class="fw-bold">Why Choose Us</h3>
          </div>
          
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="card text-center border-0">
                  <div class="card-body">
                    <div class="card-elli mb-3">
                      <img src="{% static 'images/About/car repair.jpg' %}" class="img-fluid" alt="Fast Speed" />
                    </div>
                    <h5 class="card-title fw-bold">Car repair</h5>
                    <p class="card-text">With our system, you can easily locate reliable mechanics, enjoy transparent pricing, and ensure your vehicle receives top-notch care.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card text-center border-0">
                  <div class="card-body">
                    <div class="card-elli mb-3">
                      <img src="{% static 'images/About/automanagement.jpg' %}" class="img-fluid" alt="Fast Speed" />
                    </div>
                    <h5 class="card-title fw-bold">Auto management</h5>
                    <p class="card-text">Our platform seamlessly connects users with reputable garages equipped to handle all aspects of auto maintenance, from routine servicing to complex repairs.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card text-center border-0">
                  <div class="card-body">
                    <div class="card-elli mb-3">
                      <img src="{% static 'images/About/air conditioning.png' %}" class="img-fluid" alt="Flexible Tariff Plans" />
                    </div>
                    <h5 class="card-title fw-bold">Air conditioning</h5>
                    <p class="card-text">With just a few clicks, you can find nearby garages specializing in air conditioning services, complete with transparent ratings, reviews, and pricing.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card text-center border-0">
                  <div class="card-body">
                    <div class="card-elli mb-3">
                      <img src="{% static 'images/About/upholstery.jpg' %}" class="img-fluid" alt="upolstery" />
                    </div>
                    <h5 class="card-title fw-bold">Uposhtry</h5>
                    <p class="card-text">With our platform, expect tailored solutions, premium materials, and seamless coordination, ensuring your upholstery needs are met with finesse and satisfaction</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>  
        
</body>
</html>